body {
    background-color: white;
    background-image: url(dorji.jpeg);}
h1 {
    text-align: center;
    font-family:-apple-system;
     color: black;

}
table {
  font-size: 20px;
  font-family: fantasy;
 }